<div id="banner" class="container-fluid" [ngStyle]="{'background-image': 'url(' + background+ ')'}">
  <div class="banner_logo l" >
    <img src="{{myImage}}" alt="UPM" title="UPM">
    <h1>Pádel U.P.M.</h1>
    <p>El club universitario más dinámico del circuito</p>
  </div>
</div>

<div id="content" class="container-fluid" style="alignment: center">
  <div id="service" class="container">
    <div class="area_title">
    </div>
    <ul class="service_list">
      <li>
        <h3>Clases</h3>
        <p>El conjunto de monitores más cualificados se encargará de darte la formación en cuanto a técnica requerida en este deporte. Las clases prácticas te permitirán interiorizar los movimientos adecuados como si fueses naturales. Las
          clases colectivas convierten las clases en un espacio dinámico en el que jugar se convierte en una actividad placentera y divertida.</p>
        <p><img src="{{class_padel}}" width="340"></p>
      </li>

      <li>
        <h3>Entrenamientos personalizados</h3>
        <p>Enseñarte la técnica adecuada para mejorar tus golpes Enseñarte a combinar la potencia con la técnica Mostrarte como mejorar el rendimiento en equipo Explicarte como utilizar la presión de los campeonatos en tu beneficio</p>
        <p>Si te sientes un campeón de verdad lo eres o simplemente quieres avanzar rápidamente en la técnica que rodea a este deporte te podemos configurar sesiones de entrenamiento a tu medida con un entrenador personal que se encargará
          de:</p>
          <ul>
            <li>
              Enseñarte la técnica adecuada para mejorar tus golpes
            </li>
            <li>Enseñarte a combinar la potencia con la técnica
            </li>
            <li>
              Mostrarte como mejorar el rendimiento en equipo
            </li>
            <li>
              Explicarte como utilizar la presión de los campeonatos en tu beneficio
            </li>
          </ul>

      </li>
      <li>
        <h3>Campeonatos</h3>
        <p>El club organiza campeonatos periódicos en los que te puedes divertir al mismo tiempo que mejoras en el deporte. Tenemos campeonatos de un día, de fin de semana y ligas regulares. Puedes participar en los torneos masculinos, femeninos
          y mixtos.</p>
        <p><img src="{{campeonatos}}" width="340"></p>
      </li>
    </ul>
  </div>
</div>
