<div id="texto" class="container-fluid" [ngStyle]="{'background-image': 'url(' + background+ ')'}">
  <div id="registro" class="registro">
    <div id="table_registro">
      <div id="backgroud_gray">
        <div id="outline">
          <form [formGroup]="formModel"  (submit)="reserve()" style="background-color: #6c757d;margin-top: 100px">
            <div ng-app="" class="input-group mb-3">
              <input  id="time" formControlName="time" name="time" class="form-control input_pass"  placeholder="Tiempo" type="text" >
              <br>
              <br>
            </div>
            <div ng-app="" class="input-group mb-3">
              <input  id="num" formControlName="num" name="num" class="form-control input_pass"  placeholder="Court ID" type="text" >
              <br>
              <br>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <button class="btn login_btn" id="register_button" name="" type="submit" style="position: center">Registrar</button>
              <br><br>
            </div>
          </form>
        </div>
        <br>
      </div>
    </div>

  </div>
</div>
