<div id="map" class="container">
  <div class="location_map">
    <ul class="service_list">
      <li>
        <iframe id="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3230.808852682539!2d-3.6307606914427586!3d40.388333684147646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225a4623324d7%3A0x55062a088f78765e!2sPolytechnic%20University%20of%20Madrid%20South%20Campus!5e0!3m2!1sen!2ses!4v1574274884764!5m2!1sen!2ses"
                width="480" height="360" frameborder="0" style="border:0;margin-left: 50px;margin-top: 50px;margin-bottom: 50px" allowfullscreen=""></iframe>
      </li>
    </ul>
  </div>
  <div class="location_disponemos">
    <ul class="disponemos_list">
      Disponemos de:
      <br>
      <li>4 pista de cristal cubrirtas</li>
      <li>3 pista de cristal semicubrirtas</li>
      <li>3 pista de cemento exteriores</li>
      <li>2 pista de tenis</li>
      <li>Vestuarios completos</li>
      <li>Cafeteria con terraza</li>
    </ul>
  </div>
</div>
