/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html{height:100%;}
body{min-height:100%;position:relative;}


ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #646464;
}

h1,
h2,
h3 {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.l {
  float: left;
}

.r {
  float: right;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#foot {
  float: bottom;
}
